
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-family: 'Poppins', sans-serif;
  
  background: #EFEFEF;
}

body::before {

  content: '';
  width: 100%;
  height: 436px;
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #535971;
}

.page {
  width: 750px;
  margin: auto;

}

header {
  width: 417px;

  margin-top: 140px;

}

header h1 {
  font-family: 'Staatliches', sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #FFFFFF;

  width: 163px;
  margin-bottom: 18px;
  margin-top: 140px;
}

header p {
  color: #FFF;

  font-size: 20px;
  line-height: normal;
}

form {
  background: #FFF;

  min-height: 400px;
  border-radius: 20px 20px 0px 0px;
  margin-top: 58px;

  padding: 64px;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;

}

fieldset legend {
  font-family: 'Staatliches', sans-serif;
  color: #535971;

  font-size: 24px;
  font-weight: 400;
  line-height: 34px;

  width: 100%;

  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 16px;
  margin-bottom: 36px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}

.names {
  display: flex;
  gap: 22px;
}

.names.input-wrapper {
  width: 100%;
}


.input-wrapper label {
  font-family: 'Poppins', sans-serif;

  color: #4E4958;

  font-size: 14px;
  line-height: 24px;
  margin-bottom: 8px;
}

.input-wrapper label span {
  color: #C1BCCC;
  
  font-size: 12px;
  line-height: 20px;
  margin-left: 8px;
}
.input-wrapper label span:hover {
  color: #7d7c80;
}

.input-wrapper input {
  background: #FAFAFC;
  height: 56px;

  padding: 0 24px;

  border: 1px solid #E6E6F0;
  box-sizing: border-box;
  border-radius: 8px;

  font-family: 'Poppins', sans-serif;
  color: #C1BCCC;
  font-size: 16px;
  line-height: 20px;
}

.fieldset-header legend {
  font-family: 'Staatliches', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  border: none;
  margin-bottom: 8px;

  color: #535971;
}

.Scheduling {
  display: flex;
  flex-direction: column;
  
  gap: 20px;
}
  
.prime-menthor .input-wrapper:nth-child(2),
.sec-menthor .input-wrapper:nth-child(2) {
  margin-left: 22px;
}
  
.prime-menthor, .sec-menthor {
  display: flex;
  gap: 10px;
  width: 100%;
 }
  
#event-date {
  width: 300px;
}
  
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
  
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

footer {
  background: #535971;
  
  height: 160px;
  display: flex;
  flex-direction: column;
  
  padding: 52px 71px;
  
  margin-bottom: 100px;
  
  border-top: 1px solid #d6d6d6;
  
  border-radius: 0 0 20px 20px;
}
  
footer .button {
  height: 56px;
  background: #FF5374;
  border-radius: 20px;
  border: none;
  
  font-family: 'Staatliches', sans-serif;
  font-size: 20px;
  line-height: 26px;

  color: #FFFFFF;
}
  
footer .button:hover {
  background: #cf435f;
}
  
input:invalid {
  border: 3.5px solid #77193e;
}